<div class="container pt-1 mt-3 mb-5">
  <div class="row row-cols-1 row-cols-md-2 mt-5 mb-5">
    <div class="col">
      <div class="card about-card h-100">
        <div class="card-body">
          <h5 class="card-title pb-5" style="font-size: 2em"><a class="card-link" href="#"><%=title_1%></a></h5>
          <p class="card-text" style="font-size: 1.7em"><em><%=text_1%></em></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card about-card h-100">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 2em"><a class="card-link" href="#"><%=title_2%></a></h5>
          <p class="small-text-bold text-left"> <strong>Dependable -</strong> <%=text_a%></p>
          <p class="small-text-bold text-left"><strong>Above & Beyond -</strong> <%=text_b%></p>
          <p class="small-text-bold text-left"> <strong>Customer Focused -</strong> <%=text_c%></p>
          <p class="small-text-bold text-left"><strong>Team Player -</strong> <%=text_d%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5 pb-5">
  <div>
    <h3 class="pb-5">Whether it's furnishing one office or an entire building, we have a well-defined process that we call our Workplace Strategy to ensure a positive experience.</h3>
  </div>
  <div class="card" style="">
    <img src="../images/Our_Process.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  </div>
</div>
