<div class="hero">
  <div class="about-background-image-container mb-5 img-fluid"
    style="width: 100%; background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0), 60%, rgba(21, 22, 31, 0.6)), url(<%=image%>);">
  <div class="container mt-0">
    <div class="row justify-content-between align-items-center">
      <div class="hero-content col-md-5 main-text">
        <h1 class="text-left"><%=title%></h1>
        <p class="small-text-bold text-left"><%=text%></p>
        <div>
          <h5 class="text-left about-header">OUR CORE FOCUS:</h5>
          <p class="text-left header-text"><%=passion%></p>
          <h5 class="text-left about-header">OUR NICHE:</h5>
          <p class="text-left header-text"><%=niche%></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
