<div class="col">
    <div class="bg-bottom-light rounded-0 border-0">
      <% if defined? image != nil %>
        <img src=<%=image%> style="height: 300px" alt="...">
        <div class="">
          <h5 class="pt-4"><%=title%></h5>
          <p class=""><%=text%></p>
        </div>
        <% else %>
        <img src=<%=logo%>>
        <div class="">
          <h5 class="pt-4"><%=title%></h5>
          <p class=""><%=text%></p>
       </div>
      <% end %>
    </div>
</div>

<%# Ruby if exists for the href? %>