<div class="col mb-4">
    <div class="card text-white bg-secondary rounded-0 border-0 m-3">
      <img <%=image%> id="homelink-img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=title%></h5>
        <p class="card-text"><%=text%></p>
        <a href="<%=href%>" class="btn btn-danger"><%=title%></a>
      </div>
    </div>
  </div>