<div class="col mb-4">
  <div class="card text-white bg-secondary rounded-0 border-0 h-100">
    <img src=<%=image%> id="homelink-img" class="img-fluid card-img-top" alt="...">
    <div class="card-body pb-2">
      <h5 class="card-title"><%=title%></h5>
      <p class="card-text"><%=text%></p>
      <a href="<%=href%>" class="btn color-main"><%=title%></a>
    </div>
  </div>
</div>

