<div class="container-fluid mt-0">
  <div class="row">
    <%=partial "partials/banner", locals: data.index.banner_content%>
  </div>
</div>

<div class="container vision-statement p-5 mb-3">
  <div class="row justify-content-center">
    <div class="mb-4 border-bottom border-danger">
      <h1><%=data.index.vision_statement.title%></h1>
    </div>
  </div>
  <div class="justify-content-center pt-3">
    <h5 class="card-text" style="font-style: italic"><%=data.index.vision_statement.text%></h5>
  </div>
</div>

<div class="container home-info">
  <div class="row row-cols-1 row-cols-xs-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
    <%data.index.info_card_content.each do |card| %>
      <%=partial "partials/content-cards", locals: card%>
      <%end%>
  </div>
</div>

<div class="container mb-5 border-bottom">
  <div class="row mb-5">
    <%data.index.best_in_class_content.each do |image|%>
      <%=partial "partials/best-in-class", locals: image%>
      <%end%>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mb-5">
    <%data.index.port_serv_cards_content.each do |card|%>
      <%=partial "partials/page-link-cards", locals: card%>
      <%end%>
  </div>
</div>

<%=partial "partials/industries"%>


